<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe | Multiplayer</title>
    <link rel="stylesheet" href="{% static 'css/boardStyle.css' %}">
</head>

<body>
    <div class="container_main">
        <div class="sideBar">
            <h1>Game</h1>
            <h2 id="game_code_disp"></h2>
            <button id="reset">reset</button>
            <div id="msgDisp"></div>
            <div class="messageGroup">
                <textarea id="msgInp"></textarea>
                <button id="sendBtn">send</button>
            </div>
        </div>
        <div class="container">
            <div class="player_symbol_disp">
                <div class="plsymb">
                    <h5>X</h5> 
                    <div id="pl1symb">Haven't joined</div>
                </div>
                <h2>Tic tac Toe</h2>
                <div class="plsymb">
                    <h5>O</h5> 
                    <div id="pl2symb">Haven't joined</div>
                </div>
            </div>
            <!-- <div class="display">Score/timer</div> -->

            <div class="board">
                <div class="row">
                    <div class="unit" id="u00"></div>
                    <div class="unit" id="u01"></div>
                    <div class="unit" id="u02"></div>
                </div>
                <div class="row">
                    <div class="unit" id="u10"></div>
                    <div class="unit" id="u11"></div>
                    <div class="unit" id="u12"></div>
                </div>
                <div class="row">
                    <div class="unit" id="u20"></div>
                    <div class="unit" id="u21"></div>
                    <div class="unit" id="u22"></div>
                </div>
            </div>
            <div id="result">
            </div>
        </div>
    </div>

    {{room_name|json_script:"room_name"}}
    <script src="{% static 'js/game_handler.js' %}"></script>
</body>

</html>